<h2>List of Things</h2>

<ul>
    <li *ngFor="let thing of listOfThings">
        <a [routerLink]="['/thing/' + thing.id]">{{thing.name}}</a>
    </li>
</ul>

<form>

    <input type="text" [(ngModel)]="model.name" placeholder="name">
    <br>
    <input type="text" [(ngModel)]="model.color" placeholder="color">
    <br>
    Dimensions:
    <br>
    <input type="text" [(ngModel)]="model.dimensions.height" placeholder="height">
    <br>
    <input type="text" [(ngModel)]="model.dimensions.width" placeholder="width">
    <br>
    <input type="text" [(ngModel)]="model.dimensions.depth" placeholder="depth">
    <br>

    <br>
    <button (click)="add()">add</button>
    <p style="color: red;">{{error}}</p>

</form>

